<p>decode-form</p>
<div class="container">
  <div class="forms">
    <form [formGroup]="decodeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="enter chars"
          formControlName="decode"
        />
        <mat-error *ngIf="decodeForm.controls.decode.hasError('forbiddenChar')"
          >forbidden char. expect just a-f</mat-error
        >
        <mat-error *ngIf="decodeForm.controls.decode.hasError('required')"
          >enter value</mat-error
        >
        <mat-error *ngIf="decodeForm.controls.decode.hasError('zeroStart')"
          >cant start with zero</mat-error
        >
        <mat-error *ngIf="decodeForm.controls.decode.hasError('insStart')"
          >enter letter first</mat-error
        >
      </mat-form-field>
    </form>
    <mat-form-field>
      <input matInput disabled="true" placeholder="Result" [value]="result" />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!decodeForm.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <button mat-raised-button color="warn" (click)="clearForm()">Clear</button>
  </div>
</div>
