<p>encode-form</p>
<div class="container">
  <div class="forms">
    <form [formGroup]="encodeForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" placeholder="enter chars" formControlName="encode" />
        <mat-error *ngIf="encodeForm.controls.encode.hasError('forbiddenChar')">forbidden char. expect just a-f</mat-error>
        <mat-error *ngIf="encodeForm.controls.encode.hasError('required')">enter value</mat-error>
      </mat-form-field>
    </form>

    <mat-form-field>
      <input matInput disabled="true" placeholder="Result" [value]="result" />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="!encodeForm.valid" (click)="onSubmit()">
      Submit
    </button>
    <button mat-raised-button color="warn" (click)="clearForm()">Clear</button>
  </div>
</div>
