.container {
  display: flex;
  flex-direction: column;
}

.forms {
  display: flex;

}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 300px;
  margin: 10px;
}

.buttons {
  display: flex;
}


.mat-raised-button {
  margin: 10px
}
